body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#chart-container {
    margin-top: 20px;
}

#source-info {
    margin-top: 20px;
    font-weight: bold;
}

#xrd-image {
    max-width: 100%;      /* 设置图片的最大宽度，保持响应式 */
    max-height: 500px;    /* 限制图片的最大高度 */
    display: block;       /* 将图片设置为块级元素，方便布局 */
    margin: 20px auto;    /* 将图片水平居中 */
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


.chart-container {
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px solid #ccc; /* 增加边框让图表区域更明显 */
    background-color: #f8f9fa;
}

.placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #aaa;
    text-align: center;
}

/* 图表容器大小 */
#xrd-chart {
    width: 100%;
    height: 400px;
}

/* ToolBar 初始和收回状态 */
.toolbar-transition-enter {
    opacity: 0;
    transform: scale(0.5); /* 初始缩小 */
  }
  .toolbar-transition-enter-active {
    opacity: 1;
    transform: scale(1); /* 展开到正常大小 */
    transition: transform 300ms ease, opacity 300ms ease;
  }
  .toolbar-transition-exit {
    opacity: 1;
    transform: scale(1);
  }
  .toolbar-transition-exit-active {
    opacity: 0;
    transform: scale(0.5); /* 缩回 */
    transition: transform 300ms ease, opacity 300ms ease;
  }
  
